#wrap {
  width: 1000px;
  margin: 0 auto;
}

#contentWrap {
  border: 2px dashed #fe9999;
  background-color: #eee;
  border-radius: 10px;
  padding: 0 30px 30px 30px;
}

#title,
#navi {
  display: flex;
  justify-content: center;
}

#title {
  border-radius: 10px 10px 0 0;
  background-color: #182963;
}

h1 {
  color: #fff;
}

#navi {
  height: 44px;
  padding-top: 20px;
  border-radius: 0 0 10px 10px;
  background-color: #fe9999;
}

/* input */
.input {
  padding-left: 10px;
}

.inputDesign {
  width: 200px;
  height: 23px;
  border: 1px dashed #000;
  border-radius: 5px;
  text-indent: 5px;
  margin-left: 5px;
  letter-spacing: 1px;
  outline: none;
}

.plusList {
  width: 80px;
  height: 25px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #182963;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 5px;
  border: none;
}

.plusList:hover {
  background-color: #eee;
  border: 2px solid #182963;
  color: #182963;
  font-weight: bold;
}

/* list안 내용 */
.listTitle {
  font-size: 30px;
}

.delete,
.toggleButton {
  width: 45%;
  height: 70%;
  margin-top: 25px;
  font-size: 16px;
  border: 2px solid #182963;
  border-radius: 6px;
  cursor: pointer;
}

.delete:hover,
.toggleButton:hover {
  border: 2px solid #fe9999;
}

.delete {
  margin-right: 10px;
}
